<h1>My Personal Library</h1>

<p>
  <%= link_to "add a New Book", new_book_path %>
</p>

<div>
  <h2>All Books</h2>
  <% if @books.empty? %>
    <p>You haven't added any books yet!</p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Genre</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><strong><%= book.title %></strong></td>

          <td><%= book.author.name if book.author %></td>
          <td>(<%= book.genre.name if book.genre %>)</td>

          <td>
          <%= link_to "Show Details", book_path(book) %> |
          <%= link_to "Edit", edit_book_path(book) %> |
          <%= link_to "Delete", book_path(book), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>